body {
  background-color: #f6f6f6;
}

/*-------------------------top nav bar-----------------------------*/
#top_navbar {
  color: white;
  display: block;
}

.navbar_left_float {
  float: left;
}

.navbar_right_float {
  float: right;
}

.container-fluid {
  padding-top: 0px;
  padding-bottom: 0px;
}

.school_name {
  float: left;
}

.navbar_logo {
  width: 3.4rem;
  position: absolute;

}

.Course_Planner_Navbar {
  background-color: #b30738;
  padding: 0rem;
}

.school_name {
  margin-left: 55px;
}

.sch_text {
  font-size: 12px;
}

.project_name {
  padding-left: 55px;
}

.navbar_right_float {
}

.login {
  background-color: #b30738;
  border-width: 0px;
  padding-right: 50px;
}

.sign-up {
  background-color: #b30738;
  border-width: 0px;
}

/*-------------------------------Body Section------------------*/
#body_content {
  text-align: center;
}
.intro {
  padding-top: 80px;
}

.software_name {
  margin-bottom: 50px;
}

.get_started_button {
}
