<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SCU Course Planner</title>

  <!--------------------Implement Favicon---------------->
  <link rel="icon" href="{{ url_for('static', filename='favicon/SCU-Favicon.png') }}">
  <!--<link rel="stylesheet" href="faviconcss/SCU-Favicon.png">-->
  <!-----------------Implement Bootstrap------------>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="css/styles.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <!---------------Navbar section---------->
  <section id="top_navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top Course_Planner_Navbar">
      <div class="container-fluid container-fluid-spacious">
        <div class="navbar-brand navbar-brand-emphasized navbar_left_float">
          <div class="logo">
            <img class="navbar_logo" src="{{ url_for('static', filename='img/Santa_Clara_U_Seal.svg.png') }}" alt="IHS_logo">
            <!--<img class="navbar_logo" src="img/Santa_Clara_U_Seal.svg.png" alt="IHS_logo">-->
          </div>
          <div class="school_name">
            <small class='text-sans-bold sch_text'>SANTA CLARA UNIVERSITY</small>
          </div>
          <div class="project_name">
            <br>
            <small>Course Planner</small>
          </div>
        </div>
        <div class="navbar_right_float">
          <button class="btn btn-danger sign-up" type="button" name="Sign-up-button">Sign up</button>
          <!------------need drop down menu here, come back later------------>
          <button class="btn btn-danger login" type="button" name="login-button">Login</button>
        </div>
      </div>
    </nav>
  </section>

  <!--------------------------Body section------------------------------>
  <section id="body_content">
    <div class="body_texts">
      <div class="intro">
        <h1 = class= "software_name">Course Planner</h1>
        <h4>Create your four year plans for SCU</h4>
        <p>Start by press the "Get Started" button to enter all your preferences</p>
      </div>
      <div>
        <button class="btn btn-secondary btn-lg get_started_button" type="button" name="button">
          <a href="{{ url_for('survey') }}">Get Started</a>
        </button>
      </div>
    </div>
  </section>
</body>

</html>
