<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SCU Course Planner</title>

  <link rel="icon" href="{{ url_for('static', filename='favicon/SCU-Favicon.png') }}">
  <!--------------------Implement Bootstrap---------------->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="css/styles.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styles.css') }}">
  <script src="{{ url_for('static', filename='js/survey.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
  <section id="top_navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top Course_Planner_Navbar">
      <div class="container-fluid container-fluid-spacious">
        <div class="navbar-brand navbar-brand-emphasized navbar_left_float">
          <div class="logo">
            <!--<img class="navbar_logo" src="{{ url_for('static', filename='img/Santa_Clara_U_Seal.svg.png') }}" alt="IHS_logo">-->
            <img class="navbar_logo" src="{{ url_for('static', filename='img/Santa_Clara_U_Seal.svg.png') }}" alt="IHS_logo">
          </div>
          <div class="school_name">
            <small class='text-sans-bold sch_text'>SANTA CLARA UNIVERSITY</small>
          </div>
          <div class="project_name">
            <br>
            <small>Course Planner</small>
          </div>
        </div>
        <div class="navbar_right_float">
          <button class="btn btn-danger home" type="button" name="home-button" onclick="location.href='index'">Home</button>
        </div>
      </div>
    </nav>
  </section>

  <!---------------------------body section-------------------------->
  <section id="body_content">
    <form action="/schedule">
      <div class="body_texts">
        <div class="contexts">
          <div class="top_title">
            <h2>Preferences</h2>
          </div>
          <div class="card survey_name">
            <div class="card-header">
              {{ csciEmphases.question }}
            </div>
              <ul class="list-group list-group-flush">
                {% for option in csciEmphases.options %}
                  <li class="list-group-item">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="csciEmphasis" id="{{ option.id }}" value="{{ option.id }}">
                      <label class="form-check-label" for="{{ option.id }}">
                        {{ option.name }}
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>
          </div>


        <!--
          <div class="card survey_name">
            <div class="card-header">
              Within how many quarters are you trying to graduate?
            </div>
            <div class="form-group">
              <input type="range" class="custom-range" min="9" max="16" id="maximum_quarter" value="9">
              <span>Current Value: <span id="quarter_value"></span></span>
            </div>
          </div>

          <div class="card survey_name">
            <div class="card-header">
              Maximum units you want to take each quarter
            </div>
            <div class="form-group">
              <input type="range" class="custom-range" min="0" max="25" id="maximum_units" value="0">
              <span>Current Value: <span id="units_value"></span></span>
            </div>
          </div>
        -->

        <!--
          <div class="card survey_name">
            <div class="card-header">
              Do you prefer to take only major/core classes only or all other classes?
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="classPreferences" id="major-core-only" value="Major-and-Core-only">
                  <label class="form-check-label" for="major-core-only">
                    Major/Core classes only
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="classPreferences" id="all-classes" value="All-classes">
                  <label class="form-check-label" for="all-classes">
                    Open to all classes
                  </label>
                </div>
              </li>
          </div>
        -->

          <h3>Please select the classes you have already taken</h3>
          <p>Link to: <a href="https://ecampus.scu.edu/psp/csprd92/?cmd=login" target="_blank">ecampus</a></p>

          <div class="requirements">
            <h4>{{ csciMajorReqs.question }}</h4>
              <div class="card-columns d-flex justify-content-center">
                {% for column in csciMajorReqs.options %}
                  <div class="card survey_name">
                    <div class="card-block">
                      <div class="card-header">
                        Course
                      </div>
                      <ul class="list-group list-group-flush">
                        {% for class in column %}
                          <li class="list-group-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="{{ class.id }}" name="csciMajorReqsTaken" value="{{ class.id }}">
                              <label class="form-check-label" for="{{ class.id }}">
                                {{ class.name }}
                              </label>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </h4>
          </div>

          <div class="requirements">
            <h4>{{ coreReqs.question }}</h4>
              <div class="card-columns d-flex justify-content-center">
                {% for column in coreReqs.options %}
                  <div class="card survey_name">
                    <div class="card-block">
                      <div class="card-header">
                        Course
                      </div>
                      <ul class="list-group list-group-flush">
                        {% for class in column %}
                          <li class="list-group-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="{{ class.id }}" name="coreReqsTaken" value="{{ class.id }}">
                              <label class="form-check-label" for="{{ class.id }}">
                                {{ class.name }}
                              </label>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </h4>
          </div>

      <div>
        <input type="submit" value="Schedule" />
      </div>
    </form>

  </section>
<!--
    <div>
      <button class="btn btn-secondary btn-lg submit_button" type="button" name="button">
        <a href="{{ url_for('schedule') }}">Submit</a>
      </button>
    </div>
-->
</body>

</html>
